* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 600px;
    background-color: red;
    /* даем для того чотбы могли воспользоватся свойствами grida */
    display: grid;
    /* Создали 3 колонки с разными размерами */
    grid-template-columns: 150px 200px 400px;
    /* grid-template-rows: 99px 150px 150px; */
    /* Создали 3 строки с разными размерами, фунцкия repeat в качестве первого значение принимает количество, а вторым параметром размер */
    grid-template-rows: 99px repeat(2, 150px);
    /* Дает одинкаовый промежуток между горизонталью и вертикалью */
    grid-gap: 20px;
    /* Промежуток между строками */
    grid-row-gap:50px;
    /* Промежуток между колонками */
    grid-column-gap: 100px;
}

.elem:first-child{
    background-color: blue;
}


.elem:nth-child(2){
    background-color: green;
}

.elem:nth-child(3){
    background-color: black;
}

.elem:nth-child(4){
    background-color: orange;
}

.elem:nth-child(5){
    background-color: yellow;
}


.elem:last-child{
    background-color: pink;
} 


.container2{
    width: 100%;
    height: 600px;
    background-color: red;
    display: grid;
    /* grid-template-columns: repeat(3, auto); */
    /* Минимальную высоту 100px, максимальную 250px */
    grid-auto-rows: minmax(100px, auto);
    /* Все неявные колнки будуть шириной 200px */
    grid-auto-columns: 200px;
    justify-content: center;
    align-items: end;
}

.elem2:first-child{
    height: 100px;
    width: 100px;
    background-color: blue;
}


.elem2:nth-child(2){
    height: 100px;
    width: 100px;
    background-color: green;
}

.elem2:nth-child(3){
    height: 100px;
    width: 100px;
    background-color: black;
}

.elem2:nth-child(4){
    height: 100px;
    width: 100px;
    background-color: orange;
}

.elem2:nth-child(5){
    height: 100px;
    width: 100px;
    background-color: yellow;
}


.elem2:last-child{
    height: 100px;
    width: 100px;
    background-color: pink;
} 


.container3{
    width: 500px;
    height: 300px;
    background-color: red;
}

h1{
    display: block;
    font-size: 100px;
}


/* 118 по 134 сторку */
/* в данном примере мы классу container3 задали если ширина экрана меньше 600пк то цвет у него синий, если размер экрана он 601пк до 1024пк то цвет зеленый, эсли размер экрана не поподает по написаный интервал то цвет красный  */
@media (max-width: 600px){
    .container3{
    background-color: blue;
    }

    h1{
        font-size: 30px;
        /* display: none; */
    }
}

@media (min-width: 601px) and (max-width: 1024px){
     .container3{
    background-color: green;
    }
}


/*  Создать навигацию с 5 элементами, элементы должны быть по горизонтали */
/* Если размер меньше 800пкс то элементы должны позиционироватся по вертикали  */
/* Если размер в радиусе 400пкс до 555пк то нечего не показываем */