<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logo">
                <img src="./assets/logo.png" alt="logo">
            </div>
            <ul class="menu">
                <li class="menu_item">Home</li>
                <li class="menu_item">Product</li>
                <li class="menu_item">About</li>
                <li class="menu_item">Contact</li>
            </ul>
            <button class="login_btn">Login</button>
        </nav>
    </header>
    <section class="hero">
        <h1 class="title">Work at the speed of thought</h1>
        <p class="text">Most calendars are designed for teams. Slate is designed for
        freelancers who want a simple way to plan their schedule.</p>
    </section>

    <div class="button_container">
        <button class="free_btn">Try For Free</button>
        <button class="login_btn">Learn More</button>
    </div>

    <div class="statistics_img">
        <img src="./assets/statistics.png" alt="statistics">
    </div>
</body>
</html>